<h1>Ahorcado</h1>
<p>{{ displayedWord.join(' ') }}</p>
<p>Intentos restantes: {{ remainingAttempts }}</p>
<div *ngIf="gameOver && gameWon">
  <p>¡Ganaste!</p>
  <button (click)="startGame()">Jugar de nuevo</button>
</div>
<div *ngIf="gameOver && !gameWon">
  <p>¡Perdiste! La palabra era: {{ word }}</p>
  <button (click)="startGame()">Jugar de nuevo</button>
</div>
<div *ngIf="!gameOver">
  <p>Adivina una letra:</p>
  <input #letterInput type="text" maxlength="1" (keyup.enter)="guessLetter(letterInput.value); letterInput.value=''" />
</div>
