body {
  background-color: blue; /* Fondo azul para todo el cuerpo de la página */
  margin: 0; /* Eliminar márgenes predeterminados */
  display: flex; /* Utilizar flexbox para centrar contenido verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Utilizar el 100% del alto de la ventana */
}

.home-content {
  text-align: center; /* Centrar el contenido del componente */
  background-color: lightgray; /* Fondo gris para el contenedor */
  padding: 20px; /* Añadir espacio interno al contenedor */
  border-radius: 10px; /* Añadir bordes redondeados al contenedor */
}

.home-link {
  display: inline-block; 
  padding: 10px 20px; 
  background-color: blue; 
  color: white; 
  text-decoration: none; 
  font-size: 18px;
  font-weight: bold; 
  border-radius: 5px; 
  margin-top: 20px; 
}